<div class="blog__title">
  <a href="/" itemprop="name" title="Click to go back to the home page">{{@blog.title}}</a>
  <div class="blog__description" itemprop="description">
    <span>{{@blog.description}}</span>
    <nav class="main-navigation pull-right" role="navigation">
      <a href="/about">About</a>
    </nav>
  </div>
</div>
